* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: #f8f8ff;
}

.container {
  /* for debugging */
  /* border: 3px dotted red; */
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  height: 500px;
}


.calculator-body {
  /* for debugging */
  border: 3px solid black;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background: #f9f9f9; */
  /* background: darkgrey; */
  background: #28283e;
  height: 100%;
  width: 300px;
  padding: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.calculator-display {
  display: flex;
  background: silver;
  border: 3px solid black;
  width: 100%;
  padding: 0.625rem;
  height: 4.375rem;
  border-radius: 0.3rem;
  margin-top: -0.75rem;
}

.digits {
  /* font-size: 2.8125rem; */
  /* font-size: 5rem; */
  font-size: 70px;
  text-align: right;
  margin-right: 0.3rem;
}

.buttons-container {
  /* for debugging */
  /* border: 3px solid green; */
  padding: 10px;
  height: 70%;
  /* width: 100%; */
  flex: 1;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* justify-content: space-around; */
  justify-content: space-between;
}

/* no effect */
/* .buttons-container>div {
  flex: 1;
} */

/* .calc-buttons {
  border: 3px solid yellow;
  height: 100px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */

button {
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
  display: flex;
  background: #343130;
  color: #f8f8ff;
  border-radius: 7px;
}

.operation {
  background: orange;
}